@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add a category</h2>

<h4>Add a cateory to this recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>