@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category

<h2>Edit</h2>

<h4>Edit this recipe: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CategoryId)

  @Html.LabelFor(model => model.Type)
  @Html.EditorFor(model => model.Type)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>