@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<div class="container" id="splash-title">
<h1>Welcome to the Recipe Box!</h1>
</div>
<hr>

<div class="card" id="category-card">
<h4>Categories</h4>
@if (Model["categories"].Length == 0)
{
  <p>No categories have been added yet!</p>
} 
<ul>
  @foreach (Category cat in Model["categories"])
  {
    <li>@Html.ActionLink(@cat.Type, "Details", "Categories", new { id = @cat.CategoryId})</li>
  }
</ul>
@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Manage categories", "Index", "Categories")</p><br />
}
else
{
  <p>@Html.ActionLink("Manage categories", "LogIn", "Account", new {errorMessage = "Please log in to access this page"})</p><br />
}
</div>


<div class="container" id="recipe-container">
<div class="row">
<h4>Recipes</h4>
@if (Model["recipes"].Length == 0)
{
  <p>No recipes have been added yet!</p>
} 
  @foreach (Recipe recipe in Model["recipes"])
  {
    <div class="col-md-4">
      <div class="card" id="recipe-card">
        <div class="card-body">
          <h5 class="card-header">@recipe.Name</h5>
          <p class="card-text">@recipe.Description</p> 
          <p>⭐ @recipe.Rating</p>
          <button class="btn btn-outline-warning">@Html.ActionLink("Show Recipe", "Details", "Recipes", new { id = @recipe.RecipeId})</button>
        </div>
      </div>
    </div>
    
  }

@if (User.Identity.IsAuthenticated)
{
  <button type="button" class="btn btn-outline-warning">@Html.ActionLink("Manage recipes", "Index", "Recipes")</button><br />
}
else
{
  <p>@Html.ActionLink("Manage recipes", "LogIn", "Account", new {errorMessage = "Please log in to access this page"})</p><br />
}
</div>
</div>
@* @if (User.Identity.IsAuthenticated)
{
  <h4>Recipes for @User.Identity.Name</h4>
  @if (Model["recipes"].Length == 0)
  {
    <p>No recipes have been added yet!</p>
  } 
  <ul>
    @foreach (Recipe recipe in Model["recipes"])
    {
      <li>@Html.ActionLink(@recipe.Name, "Details", "Recipes", new { id = @recipe.RecipeId})</li>
    }
  </ul> 
  
}*@
@* else
{
  <h4>Recipes</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your recipes.</p>
} *@

<hr>
@if (User.Identity.IsAuthenticated)
{
  <button>@Html.ActionLink("Favorites", "Favorites", "Recipes")</button>  
}